[submodule "third_party/cereal"]
	path = third_party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "third_party/NVTX"]
	path = third_party/NVTX
	url = https://github.com/NVIDIA/NVTX.git
