[submodule "third_party/cereal"]
	path = third_party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "third_party/NVTX"]
	path = third_party/NVTX
	url = https://github.com/NVIDIA/NVTX.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/grouped_gemm"]
	path = third_party/grouped_gemm
	url = https://github.com/hogura99/grouped_gemm.git
	branch = async